.c1 {
    border: 1px solid #007bff;
    background: white;
    padding: 0px;
    border-radius:4px;
}
.c2 {
    border: 1px solid #007bff;
    background: white;
    padding: 0px;
    border-radius: 4px;
    height:300px;
    overflow:scroll;
}
.c3 {
    padding: 10px 15px;
}
.c3-main {
    background: white;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 0px 0px;
    height: 300px;
    overflow: scroll;
}
.content{
    padding:10px;
    margin-top:20px;
}
#tr {
    border-right: 1px solid grey;
}
.header{
    border-bottom:1px solid grey;
    background:rgb(217, 217, 217);
}
.prop{
    padding:0px;
}
body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../images/Homebg.jpg") no-repeat center center fixed;
    background-size: cover;
}