.container {
    padding: 0px 0px;
}

.header {
    background: #007bff;
    margin: 0px;
    margin: auto;
}

h3 {
    color: white;
}

.forprofileimg {
    width: 170px;
    height: 170px;
    margin: auto;
    border-radius: 50%;
    margin-top: 10px;
    overflow: hidden;
}

.col {
    padding: 5px 0px;
}

input[type="file"] {
    display: none;
}

#filelabel {
    padding: 10px;
    color: #fff;
    text-decoration: underline;
}

    #filelabel:hover {
        cursor: pointer;
    }

.main {
    margin-top: 20px;
    border: 1px solid #007bff;
    border-radius: 4px;
    background: white;
}

.form-control {
    border-color: #007bff;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../images/Homebg.jpg") no-repeat center center fixed;
    background-size: cover;
}
#contents{
    padding:30px;
}
