@{
    ViewBag.Title = "Contact";
}
<style>
    #contact {
        color: white;
    }
    label{
        font-weight:bold;
    }
</style>
<div class="container mt-4">
    <h3>Contact</h3>
    <hr />
    <label>Support</label><p>Companyname@gmail.com</p>
    <label>Customer Care</label><p>1234567890 (or) 1211558999</p>
</div>