.property {
    border-bottom: 1px solid #007bff;
    padding: 8px 15px;
}

    .property::-webkit-scrollbar {
        display: none;
    }

.header .col span {
    color: #b1b1b1;
}
.header .name{
    text-transform:capitalize;
}
hr {
    border-color: #007bff;
}

.main {
    border: 1px solid #007bff;
    padding: 2px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: white;
}

.row {
    margin-top: 8px;
}

.c {
    border: 1px solid green;
    padding: 2px;
}

.c2 {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content:center;
}

.c3 {
    border: 1px solid #dee2e6;
}

.c p {
    text-align: center;
    font-weight: bold;
    margin: 0px;
}

    .c p span {
        font-weight: normal;
        color: #7e7b7b;
    }

.c3 p {
    text-align: center;
    margin: 0px !important;
}

    .c3 p span {
        font-weight: normal;
        font-size: small;
        color: #7e7b7b;
    }

.cb {
    padding: 5px 0px !important;
}

.bl {
    padding: 5px 0px;
    margin:2px;
}

h5 {
    font-weight: bold;
}

.c {
    border: none;
    border-bottom: 1px solid #dee2e6;
}

.images {
    overflow: hidden;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../images/Homebg.jpg") no-repeat center center fixed;
    background-size: cover;
}
@media (min-width: 576px) {
    .c {
        border: none;
        border-right: 1px solid #dee2e6;
    }
}